.div1{
    background-color:aqua;
    height: 30px;
}
.div2{
    text-align: center;

}
.a1{
    color: white;
    border-radius: 20px;
    background-color:  green;
    text-align: center;
    padding: 6px 14px;
    text-decoration: none;

    
    
    
}